[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appnope = "*"
atomicwrites = "*"
attrs = "*"
backcall = "*"
bleach = "*"
bokeh = "*"
brewer2mpl = "*"
certifi = "*"
chardet = "*"
cloudpickle = "*"
cycler = "*"
cython = "*"
dask = "*"
decorator = "*"
defusedxml = "*"
entrypoints = "*"
funcsigs = "*"
ggplot = "*"
glumpy = "*"
gnureadline = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
jupyter = "*"
regex = "*"
requests = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
requests-html = "*"
sympy = "*"
seaborn = "*"
pint = "*"
py = "*"
statsmodels = "*"
retrying = "*"
yolk3k = "*"
prettyplotlib = "*"
path-py = "*"
pygments = "*"
nose = "*"
mock = "*"
more-itertools = "*"
ivisual-alt = "*"
plotly = "*"
simplegeneric = "*"
pyyaml = ">=4.2b4"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
